{% extends '/base.html.twig' %}

{% block title %}ItemBay - Inventaire de {{ app.user.activeAccount.name }}{% endblock %}

{% block body %}
    <div class="container text-white mt-5">
        <h2>Mon inventaire</h2>
        <hr>
        {% if inventory is defined and inventory.defaultItems is defined and inventory.defaultItems|length > 0 %}
        <div class="d-flex flex-wrap gap-5 mt-5">
            {% for item in inventory.defaultItems %}
                <div class="card" style="width: 20%;">
                    <img src="{{ item.imageUrl }}" class="card-img-top mt-2" alt="{{ item.name }}" loading="lazy"
                         height="100" width="100" onerror="this.src = '/images/no-photo.png'">
                    <div class="card-body d-flex flex-column text-black">
                        <h5 class="card-title">
                            {{ item.name }}
                        </h5>
                        <div class="mb-3">
                            Quantité : <strong>{{ item.quantity }}</strong>
                        </div>
                        <div class="button-container mt-auto">
                            <a href="{{ path('app_item', {'uuid': item.uuid}) }}" class="btn btn-sm btn-primary form-control">
                                En acheter plus
                            </a>
                            <a href="{{ path('app_sell_item', {'uuid': item.uuid}) }}" class="btn btn-sm btn-secondary mt-1 form-control">
                                Vendre
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="alert alert-info">
                Vous n'avez pas encore d'items dans votre inventaire.
            </div>
        {% endif %}
    </div>
{% endblock %}