<nav id="itembay-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/logo/itembay.png') }}" alt="Bootstrap" width="140" height="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto gap-3">
                <a href="{{ path('app_lootbox') }}" class="nav-link mt-1" title="Lootbox" data-tooltip>
                    {% include 'common/svg/chest.html.twig' %}
                </a>
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link mt-1 text-white" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-book"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Encyclopédie</li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_items_list') }}">
                                    Objets
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_natures_list') }}">
                                    Catégories d'objets
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_types_list') }}">
                                    Types d'objets
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_item_set_list') }}">
                                    Panoplies
                                </a>
                            </li>
                        </ul>
                    </li>
                    <div class="d-flex align-items-center gap-1 mr-2 balance-container">
                        {{ app.user.money | itemPrice | raw }}
                    </div>
                    <div class="d-flex align-items-center user-basket gap-1" title="Mon panier" data-tooltip>
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <span class="badge bg-danger rounded-pill basket-count">{{ app.user.basket.items | length }}</span>
                    </div>
                    {% if app.user.activeAccount is not null %}
                    <div class="d-flex align-items-center user-inventory gap-1">
                        <a title="Mon inventaire" data-tooltip href="{{ path('app_account_inventory') }}"><i class="fa-solid fa-box"></i></a>
                    </div>
                    {% endif %}
                    <li data-intro='Vous retrouvez votre compte ici !' data-step="2" class="nav-item dropdown profile-list-item">
                        <a class="nav-link" href="#" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('uploads/users/avatars/' ~ app.user.avatar) }}" class="rounded-circle"
                                 alt="{{ app.user.avatar }}"
                                 width="30" height="30">
                        </a>
                        <ul class="dropdown-menu" style="right: 0;">
                            <li class="dropdown-item">@{{ app.user.username }}</li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <li><a class="dropdown-item" href="/admin">Administration</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            {% endif %}
                            <li data-step="3" data-intro="Accédez à votre profil pour le modifier ici."><a class="dropdown-item" href="{{ path('app_profile') }}">Mon profil</a></li>
                            <li data-step="4" data-intro="Vous retrouverez vos comptes."><a class="dropdown-item" href="{{ path('app_accounts') }}">Mes comptes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li data-step="5" data-intro="Les commandes réalisées seront dans cette page">
                                <a class="dropdown-item" href="{{ path('app_transaction_list') }}">Mes commandes</a>
                            </li>
                            <li data-step="6" data-intro="En vendant des items, ils seront présents ici">
                                <a class="dropdown-item" href="{{ path('app_batch_list') }}">Mes items en vente</a>
                            </li>
                            <li data-step="7" data-intro="Vos métiers seront accessibles par ce lien">
                                <a class="dropdown-item" href="{{ path('app_player_jobs') }}">Mes métiers</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li data-step="8" data-intro="La liste de vos demandes d'aide.">
                                <a class="dropdown-item" href="{{ path('app_bug_report_list') }}">Centre d'aide</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}"> Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"> Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script defer>
	{% if app.user %}
    document.querySelector('.user-basket').addEventListener('click', function () {
		sidenav
            .setTitle('Mon panier')
            .open()
            .setContentFromUrl('{{ path('app_basket') }}').then(() => {
                sidenav.hideLoader();
				initBasketListeners();
            })
    });
	{% endif %}
</script>