<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/logo/itembay.png') }}" alt="Bootstrap" width="140" height="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto gap-3">
                {% if app.user %}
                    <div class="d-flex align-items-center gap-1 mr-2">
                        {{ app.user.money | itemPrice | raw }}
                    </div>
                    <div class="d-flex align-items-center user-basket gap-1">
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <span class="badge bg-danger rounded-pill basket-count">{{ app.user.basket.items | length }}</span>
                    </div>
                    {% if app.user.activeAccount is not null %}
                    <div class="d-flex align-items-center user-inventory gap-1">
                        <a href="{{ path('app_account_inventory') }}"><i class="fa-solid fa-box"></i></a>
                    </div>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('uploads/users/avatars/' ~ app.user.avatar) }}" class="rounded-circle"
                                 alt="{{ app.user.avatar }}"
                                 width="30" height="30">
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">@{{ app.user.username }}</li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_profile') }}">Mon profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_accounts') }}">Mes comptes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_transaction_list') }}">Mes commandes</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_player_jobs') }}">Mes métiers</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_transaction_list') }}">Centre d'aide</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}"> Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"> Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script defer>
	{% if app.user %}
    document.querySelector('.user-basket').addEventListener('click', function () {
		sidenav
            .setTitle('Mon panier')
            .open()
            .setContentFromUrl('{{ path('app_basket') }}').then(() => {
                sidenav.hideLoader();
				initBasketListeners();
            })
    });
	{% endif %}
</script>