{% extends '/base.html.twig' %}

{% block body %}
    {{ item.id | itemStock }}
    {% if app.user %}
        <p>{{ item.name }}</p>
        <button class="btn btn-primary basket-add-item" onclick="addItem()">Ajouter au panier</button>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Connectez-vous pour ajouter au panier</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
		function addItem() {
			fetch('/basket/default/add/{{ item.id }}', {
				method: 'POST',
			}).then(function (response) {
				return response.json();
			}).then(function (data) {
				refreshBasketCount();
			});
		}
    </script>
{% endblock %}