{% extends '/base.html.twig' %}

{% block body %}

    <div class="card m-5">
        
        <div class="row row-cols-lg-2 m-2">
            <div class="col-md-5 d-flex align-items-center">
                <img src="{{ item.imageUrl }}" class="card-img rounded-left" alt="{{ item.name }}" loading="lazy" height="30%" width="30%" onerror="this.src = '/images/no-photo.png'">
            </div>
            <div class="col-md-5 d-flex">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title">{{ item.name }}</h1>
                    {% if isFarmable %}
                        <a class="btn btn-secondary" href="{{ path('app_item_farm', {'uuid': item.uuid }) }}">
                            <i class="fas fa-seedling"></i> Récolter
                        </a>
                    {% endif %}
                    <div>Niveau {{ item.level }}</div>
                    <hr>
                    <h5 class="card-title">Description : </h5>
                    <p class="card-text text-justify">{{ item.description }}</p>
                    <hr>
                    <h5 class="card-title">Avis &amp; commentaires client : </h5>
            </div>
            <div class="col-md-4 d-flex border border-dark-subtle rounded m-3">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-text"><b>{{ item.buyPrice | itemPrice | raw }}</b></h3>
                    <div style="border: 1px solid black;"></div><br>
                    <p>
                        {{ item.id | itemRating | raw }}<br><br>
                        Catégories : {{ item.itemNature.name }}<br>
                        Type : {{ item.itemType }}<br><br>
                        Prix de revente : {{ item.sellPrice | itemPrice | raw }}<br>
                        Perte : {{ (item.buyPrice - item.sellPrice) | itemPrice | raw }}<br>
                    </p><br>
                    <p class="card-text"><b>Stock disponible : </b>{{ item.id | itemStock }}</p>
                    <div class="form-group">
                        <label for="quantity">Quantité :</label>
                        {% set max = item.id | itemStock > 9 ? 9 : item.id | itemStock %}
                        {% if item.id | itemStock == 0 %}
                            Indisponible
                        {% elseif item.id | itemStock == 1 %}
                            1
                        {% else %}
                            <select class="form-control item-quantity-input col-md-2" id="item_quantity[{{ item.id }}]" data-id="{{ item.id }}">
                                {% for i in 1..max %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                {% if item.id | itemStock > 9 %}
                                    <option value="10">10+</option>
                                {% endif %}
                            </select>
                        {% endif %}
                    </div>
                    <div class="justify-content-end align-items-center my-3">
                        {% if app.user %}
                            {% if item.id | itemStock == 0 %}
                                <button class="form-control btn btn-primary basket-add-item mr-3" onclick="addItem()">Hors stock</button>
                            {% else %}
                                <button class="form-control btn btn-primary basket-add-item mr-3" onclick="addItem()">Ajouter au panier</button>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-primary mr-3">Connectez-vous pour ajouter au panier</a>
                        {% endif %}
                        <p class="my-2">🔒Transaction sécurisée</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="batch-container">
        {% include '/item/parts/batchs.html.twig' with {
            'batchs': batchs,
        } only %}
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>   
		async function addItem() {
			await apiFetch('/basket/default/add/{{ item.id }}')
			await refreshBasketCount();
		}

        async function updateInputDisplay(el) {
			let id = el.dataset.id;
			let value = el.value;
			if (value === '' || value <= 0) {
				value = 1;
			}
			document.querySelector('.item-hidden-input[data-id="' + id + '"]').value = value;

			let input = document.querySelector('input.item-quantity-input[data-id="' + id + '"]');
			let select = document.querySelector('select.item-quantity-input[data-id="' + id + '"]');
			if (value >= 10) {
				input.value = value;
				input.parentElement.parentElement.classList.remove('d-none');
				input.parentElement.nextElementSibling.classList.remove('d-none');
				select.parentElement.classList.add('d-none');
			} else {
				$(select).val(value).trigger('change');
				select.parentElement.classList.remove('d-none');
				input.parentElement.parentElement.classList.add('d-none');
			}
            await makeBasketDifference(id, value);
			await reloadTotal();
        }
        
        document.addEventListener('DOMContentLoaded', async function () {
            document.querySelectorAll('.item-quantity-input').forEach(function (input) {
                console.log(input)
                if (input.tagName === 'SELECT') {
                    $(input).select2({
                        minimumResultsForSearch: Infinity,
                        width: '100%'
                    });
                    $(input).on('select2:select', async function (e) {
                        await updateInputDisplay(this);
                    });
                }
            });
        });

		let buyBatch = async function (id) {
			let url = '{{ path('app_batch_buy', {'id': 'batch_id'}) }}';
			url = url.replace('batch_id', id);
	        await apiFetch(url);
		}

    </script>
{% endblock %}