<div class="card" style="width: 30%;">
    <img src="{{ asset('uploads/images/items/') ~ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">
            {{ item.name }}
        </h5>

        <p class="card-text item-description" title="{{ item.description }}">
            {{ item.description }}
        </p>


        <div class="mt-auto text-right">
            <p class="text-muted">Prix de vente</p>
            <p> {{ item.buy_price | itemPrice }} </p>

            <Link :href="'/item/' + item.uuid" class="btn btn-sm btn-primary mt-auto form-control">
            Voir les choix
            </Link>
        </div>
    </div>
</div>